#    The MySQL Sandbox

[client]
user            = msandbox
password        = msandbox
port            = 16045
socket          = /tmp/mysql_sandbox16045.sock

[mysqld]
user                            = baron
port                            = 16045
socket                          = /tmp/mysql_sandbox16045.sock
basedir                         = /usr
datadir                         = /tmp/master/data
pid-file                        = /tmp/master/data/mysql_sandbox16045.pid
log-bin=mysql-bin
server-id=1
